<md-dialog aria-label="Add new section"  ng-cloak>
    <div flex layout="column" layout-fill layout-padding>
        <div flex>
            <h3>Add new section</h3>
        </div>

        <div flex layout="row">
            <form name="ctrl.section" novalidate>
                <md-input-container flex>
                    <label>
                        Section name
                    </label>
                    <input name="name" ng-model="ctrl.newSectionName" required md-minlength="4" md-maxlength="24">
                </md-input-container>
            </form>
        </div>
    </div>
    <md-dialog-actions layout="row">
        <md-button ng-click="ctrl.validate()">Add</md-button>
    </md-dialog-actions>
</md-dialog>